/* AutoComplete */

.auto {
    color: white;
    font-weight: bold;
    width: 191px;
    height: 200px;
    border: 2px solid black;
    margin: 0 20px 20px 20px;
    padding: 10px;
    background-color: cyan;
    background-size: cover;
    background-position: center;
}

.auto > input{
    margin: 10px 30px 0 30px;
    border: 1px solid black;
}

.auto li{
    cursor: pointer;
    list-style-type: square;
}

 .auto-enter {
    opacity: 0.01;
    transform: translateY(500%);
 }

 .auto-enter.auto-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 500ms, transform 500ms;
 }

 .auto-leave {
    opacity: 1;
    transform: translateY(0);
 }

 .auto-leave.auto-leave-active {
    opacity: 0.01;
    transform: translateY(500%);
    transition: opacity 500ms, transform 500ms;
 }